{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Edit {{ title }}
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <h2 class="text-center">Edit this Wiki here!</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'edit' title %}" method="POST">
                {% csrf_token %}
                {{ form1.non_field_errors }}
                <div class="form-group">
                    {{ form1.Title.errors }}
                    <label for="{{ form.Title.id_for_label }}">Title:</label>
                    {{ form1.Title }}
                </div>
                <div class="form-group">
                    {{ form1.Content.errors }}
                    <label for="{{ form.Content.id_for_label }}">Content:</label>
                    {{ form1.Content }}
                </div>
                <div class="text-right">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
        </div>
        <div class="col-lg-3 col-md-8">
            <a href="{% url 'entry' title %}">&larr;wiki</a>
        </div>
    </div>

{% endblock %}